@import './variables.css';

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text);
  font-family: var(--font-serif);
}

h1, h2 {
  color: var(--text-h);
  text-transform: uppercase; /* Toque gótico/imponente */
  letter-spacing: 2px;
}

/* Base del contenedor */
#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}