:root {
  /* Paleta Gótica Minimalista */
  --bg-color: #000000;
  --text-h: #ffffff;     /* Negro Profundo para títulos */
  --text: #5d5d5d;       /* Gris oscuro para texto fluido */
  --accent-violet: #4c0082;
  --accent-red: #8B0000;

  /* Colores de Botones */
  --btn-red: #D32F2F;
  --btn-green: #2E7D32;
  --btn-gray: #616161;
  --btn-blue: #1976D2;

  /* Tipografía */
  --font-serif: 'Georgia', serif;
}